    <div id="hola "class="ui inverted vertical footer segment tijeras">
        <div class="ui container">
            TECHNEWZ © 2017 - This blog app uses Semantic UI, CKEditor, MongoDB and Express.
        </div>
    </div>
    </body>
</html>