<html>
    <head>
        <title> TechNewz</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script>
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <a href="/"><div class="header item"><i class="laptop icon"></i> TECHNEWZ </div></a>
                <div class="right menu">
                    <a href="/" class="item"> Home </a>
                    <a href="/blogs/new" class="item"> New post </a>
                </div>
            </div>

        </div>
